{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicorn and Flowers</title>
    <meta name="description" content="Нежность цветов, красота букетов, быстрая доставка - Unicorn and Flowers">

    <link rel="stylesheet" href="./static/florist.css">
    <link rel="stylesheet" href="./static/florist-media.css">
    <link rel="icon" href="./media/favicon.jpg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="inner-header">
                <div class="logggo">
                    <a href="#" class="logo">
                        <img class="logo1" src="./media/images/bg2.svg" alt="logo">
                    </a> 
                </div>
    
                <div class="nav">
                    <a class="nav-item" href="#services">УСЛУГИ</a>
                    <a class="nav-item" href="#showcase">ОНЛАЙН ВИТРИНА</a>
                    <a class="nav-item" href="#bouquets">БУКЕТЫ</a>
                    <a class="nav-item" href="#compositions">КОМПОЗИЦИИ</a>
                    <a class="nav-item" href="#axes">АКСЕССУАРЫ</a>
                    <a class="nav-item" href="#subscription">ЦВЕТОЧНАЯ ПОДПИСКА</a>
                    <a class="nav-item" href="#about">О НАС</a>
                </div>
                
                <div class="number">
                    <a class="nav-item-number" href="">+7 (977) 705 97 87<br><br>+7 (977) 797 16 09</a>
                </div>
            </div>
            
            <div class="with-btn">
                <h2 class="txt">Unicorn and Flowers<br></h2>

                <button class="button">
                    <a id="showcase-btn" href="#showcase" class="txt-button">смотреть работы</a>
                </button>
            </div>

            <div class="ikonki">

                <div class="soc">
                    <a href="https://t.me/unicornandflowers" class="iv">
                        <img class="ikonki-img" src="./media/images/tg.png" alt="tg">
                    </a>
                    <a href="https://vk.com/unicornflowers" class="iv">
                        <img class="ikonki-img" src="./media/images/vk.png" alt="vk">
                    </a>
                </div>
                    
            </div>
        </div>

        <!--УСЛУГИ-->
        <div class="showcase" id="services">
            <h2 class="showcase-header">Услуги</h2>
            <div class="container">
                
                <div class="showcase-frame">
                    <div class="showcase-title">
                        <div class="showcase-img">
                            <img class="showcase-image" src="./media/images/30.svg" alt="Флорист">
                        </div>
                        <div class="showcase-txt">
                            Выезд флориста
                            <p class="showcase-desk">Мы к Вам приедем сами!</p>
                        </div>
                    </div>
        
                    <div class="showcase-title">
                        <div class="showcase-img">
                            <img class="showcase-image" src="./media/images/31.svg" alt="Помещения">
                        </div>
                        <div class="showcase-txt">
                            Оформление помещений
                            <p class="showcase-desk">Мы к Вам приедем сами!</p>
                        </div>
                    </div>
        
                    <div class="showcase-title">
                        <div class="showcase-img">
                            <img class="showcase-image" src="./media/images/32.svg" alt="Мероприятия">
                        </div>
                        <div class="showcase-txt">
                            Оформление мероприятий
                            <p class="showcase-desk">Мы к Вам приедем сами!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Готовые букеты и композиции, которые вы можете купить прямо сейчас-->
    <main class="main">
        <div class="container">
            <div class="done" id="showcase">
                <div class="done-text">
                    ОНЛАЙН-ВИТРИНА <br>БУКЕТЫ, КОТОРЫЕ УЖЕ СОБРАНЫ И ГОТОВЫ К ОТПРАВКЕ!
                </div>
                <div class="done-pages">
                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/1.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 51 РОЗЫ</div>
                            <div class="block-price">от 7650 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/2.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 101 РОЗЫ</div>
                            <div class="block-price">от 15150 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/3.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 19 КУСТОВЫХ РОЗ</div>
                            <div class="block-price">от 3800 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/4.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 17 ПИОНОВИДНЫХ РОЗ</div>
                            <div class="block-price">от 5100 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/5.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 25 ТАНАЦЕТУМОВ</div>
                            <div class="block-price">от 5000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/6.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 11 ЛИЗИАНТУСОВ</div>
                            <div class="block-price">от 3300 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/7.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 11 ГИПЕРИКУМОВ</div>
                            <div class="block-price">от 2200 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/онлайн-витрина/8.jpg" alt="Онлайн Витрина">
                        <div class="block-txt-price">
                            <div class="block-titl">ГОРТЕНЗИЯ</div>
                            <div class="block-price">от 1000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="bou" id="bouquets">
                <div class="done-text-two">
                    БУКЕТЫ<br> АВТОРСКИЕ И МОНОБУКЕТЫ<br> ДЛЯ ВАШЕГО ВДОХНОВЕНИЯ И ПРЕДВАРИТЕЛЬНОГО ЗАКАЗА
                </div>

                <div class="done-pages">
                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/1.jpg" alt="Цветы">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 51 ПИОНОВИДНОГО ТЮЛЬПАНА<br> В наличии</div>
                            <div class="block-price">от 6100 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/2.jpg" alt="Цветы">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 11 ПИОНОВИДНЫХ РОЗ<br> В наличии</div>
                            <div class="block-price">от 3300 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/3.jpg" alt="Цветы">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ ИЗ 9 ГЕРБЕР<br> В наличии</div>
                            <div class="block-price">от 1800 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/4.jpg" alt="Цветы">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ "ДОМАШНЕЕ ТЕПЛО"<br> В наличии</div>
                            <div class="block-price">от 6800 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/5.jpg" alt="Букеты">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ "ИГЛЫ"<br> В наличии</div>
                            <div class="block-price">от 4100 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/6.jpg" alt="Букеты">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ "ДУША"<br> В наличии</div>
                            <div class="block-price">от 4100 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/7.jpg" alt="Букеты">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ "QUEEN" С ПРОТЕЕЙ<br> В наличии</div>
                            <div class="block-price">от 5200 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/букеты/8.jpg" alt="Букеты">
                        <div class="block-txt-price">
                            <div class="block-titl">БУКЕТ "JUST SUMMER"<br> В наличии</div>
                            <div class="block-price">от 2500 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="compositions"  id="compositions">
                <div class="done-text-two">
                    КОМПОЗИЦИИ<br>ЦВЕТЫ В КОРОБКАХ, ЯЩИКАХ И КОРЗИНАХ
                </div>

                <div class="done-pages">
                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/композиции/1.jpg" alt="Композиции">
                        <div class="block-txt-price">
                            <div class="block-titl">КОМПОЗИЦИЯ ИЗ ГИПСОФИЛ<br> В наличии</div>
                            <div class="block-price">от 4200 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/композиции/2.jpg" alt="Композиции">
                        <div class="block-txt-price">
                            <div class="block-titl">КОМПОЗИЦИЯ ИЗ СУХОЦВЕТОВ<br> В наличии</div>
                            <div class="block-price">от 4500 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/композиции/3.jpg" alt="Композиции">
                        <div class="block-txt-price">
                            <div class="block-titl">КОМПОЗИЦИЯ ИЗ СУХОЦВЕТОВ<br> В наличии</div>
                            <div class="block-price">от 3000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/композиции/4.jpg" alt="Композиции">
                        <div class="block-txt-price">
                            <div class="block-titl">КОМПОЗИЦИЯ ИЗ АНЕМОНОВ<br> В наличии</div>
                            <div class="block-price">от 5600 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/композиции/5.jpg" alt="Композиции">
                        <div class="block-txt-price">
                            <div class="block-titl">КОМПОЗИЦИЯ "МАЛИНА"<br> В наличии</div>
                            <div class="block-price">от 4800 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="collaborations">
            <div class="container">
                <div class="collabs-inner">
                    <h1 class="collabs-text">U&F & Цвета.Цветы</h1>
                    <p class="collabs-txt">Стильные и экологичные букеты и композиции совместно c "Цвета.Цветы" можно заказать в нашем <a class="collabs-txt-a" href="https://t.me/unicornandflowers">telegram</a></p>
                    <div class="niks-tg">
                        <a class="nik-tg" href="https://t.me/unicornandflowers">@unicornandflowers</a>
                    </div>
                    <div class="collabs">
                        <div class="images-collab">
                            <img class="img-collab" src="./media/коллаб/collab.png" alt="Коллаборация">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--АКСЫ-->
        <div class="container">
            <div class="axes" id="axes">
                <div class="done-text-three">
                    АКСЕССУАРЫ
                </div>
                <div class="done-pages">
                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/аксы/2.jpg" alt="Ваза">
                        <div class="block-txt-price">
                            <div class="block-titl">ВАЗА<br> В наличии</div>
                            <div class="block-price">1000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/аксы/3.jpg" alt="Ваза">
                        <div class="block-txt-price">
                            <div class="block-titl">ВАЗА<br> В наличии</div>
                            <div class="block-price">1000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/аксы/4.jpg" alt="Ваза">
                        <div class="block-txt-price">
                            <div class="block-titl">ВАЗА<br> В наличии</div>
                            <div class="block-price">1000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>

                    <div class="done-block-pages">
                        <img class="block-photo" src="./media/аксы/1.jpg" alt="Ящик">
                        <div class="block-txt-price">
                            <div class="block-titl">ЯЩИК ПОДАРОЧНЫЙ<br>(без алкоголя)<br> В наличии</div>
                            <div class="block-price">3000 рублей</div>
                        </div>  
                        <a href="https://t.me/unicornandflowers" class="block-order">Заказать</a>
                    </div>
                </div>

                <div class="done-block-sol">
                    <div class="block-photo-salt">
                        <img class="block-photo-sol" src="./media/аксы/salt1.png" alt="Соль">
                    </div>
                    
                    
                    <div class="block-txt-info-sol">
                        <div class="block-titl">МОРСКАЯ СОЛЬ ДЛЯ ВАНН<br> В наличии большое количество ароматов</div>
                        <div class="block-title-name-sol">
                            Белая с ароматом ванили, кокосового молока, молока и мёда, пломбира, французского печенья<br>
                            Голубая с ароматом Эвкалипта<br>
                            Зеленая с ароматом зеленого яблока, лайма<br>
                            Золотая с ароматом дыни, дюшеса<br>
                            Коричневая с ароматом бельгийского шоколада, капучино<br>
                            Оранжевая с ароматом апельсина, облепихи, персика, тути-фркти, цитрусовый микс<br>
                            Розовая с ароматом Bubble Gum, клубники, малины, Роз<br>
                            Синяя с ароматом Пихты, с эфирным маслом можжевельника<br>
                            Фиолетовая с ароматом кока-кола, лаванды, сирени<br>
                        </div>
                        <div class="block-price-butt">
                            <div class="block-price">400 рублей</div>
                            <a href="https://t.me/unicornandflowers" class="block-order-sol">Заказать</a>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    
    
        <!--ЦВЕТОЧНАЯ ПОДПИСКА-->

        <div class="flora-subs" id="subscription">
            <div class="container-3">
                <div class="text-kontur">
                    <h2 class="flora-text">ЦВЕТОЧНАЯ ПОДПИСКА</h2>
                    <img class="kontur" src="./media/цветочная-подписка/4.png" alt="Задний фон">
                </div>
                <p class="flora-title">При оформлении цветочной подписки доставка букетов для вас всегда бесплатная в пределах МКАД.<br>
                    С каждой доставкой букета к вам приедет несколько пакетиков удобрения для стойкойсти.<br>
                    Вы можете передать свои пожелания по цвету и составу!</p>
                <div class="flora-set">
                    <div class="flora-set-inner">
                        <div class="flora-images">
                            <img class="flora-img" src="./media/цветочная-подписка/1.png" alt="Уровень 1">
                        </div>
                        <div class="flora-block-title">
                            <div class="flora-price">20.000 рублей</div>
                            <div class="flora-btn-block-all">
                                <a href="https://t.me/unicornandflowers" class="flora-btn-block">Оформить</a> 
                            </div>
                        </div>
                    </div>

                    <div class="flora-set-inner">
                        <div class="flora-images">
                            <img class="flora-img" src="./media/цветочная-подписка/2.png" alt="Уровень 2">
                        </div>
                        <div class="flora-block-title">
                            <div class="flora-price">35.000 рублей</div>
                            <div class="flora-btn-block-all">
                                <a href="https://t.me/unicornandflowers" class="flora-btn-block">Оформить</a> 
                            </div>
                        </div>
                    </div>

                    <div class="flora-set-inner">
                        <div class="flora-images">
                            <img class="flora-img" src="./media/цветочная-подписка/3.png" alt="Уровень 3">
                        </div>
                        <div class="flora-block-title">
                            <div class="flora-price">50.000 рублей</div>
                            <div class="flora-btn-block-all">
                                <a href="https://t.me/unicornandflowers" class="flora-btn-block">Оформить</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--О нас-->
        <div class="about-us" id="about">
            <img class="flowers-we-kontur-up" src="./media/мы/11.png" alt="О нас">
            <div class="container-2">
                <div class="about-us-info">
                    <h2 class="about-text">О НАС</h2>

                    <div class="we-one">
                        <img class="about-us-images-gelya" src="./media/мы/4.png" alt="Мы">
                        <p class="about-us-text">Концепция бренда появилась на реалиях 2023 года.<br> Цветы от Unicorn & Flowers для экологичного потребления. Это место, куда хочется вернуться, чтобы вдохнуть полной грудью и отдохнуть душой. 
                            Мы всё время спешим - на работу, учёбу, домой, на маникюр. Живём прошлым, будущим и совсем нет времени побыть в настоящем.
                        </p>
                    </div>
                    
                    <div class="we-two">
                        <img class="flowers-we-kontur" src="./media/мы/10.png" alt="Мы">
                        
                        <div class="kira">
                            <img class="about-us-images-kira" src="./media/мы/3.png" alt="Мы">
                        </div>
                        <p class="about-us-text">Бренд Unicorn & Flowers создан, чтобы вернуться в момент. Чтобы замереть на несколько минут, очароваться, восхититься прямо сейчас. 
                            Мы хотим, чтобы вам с нами было тепло, уютно и комфортно. Поэтому обеспечим экологичный подход к каждому заказу и каждому запросу.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="footer">
            <hr style="border: 1px solid #5b5b5b6c;">
            <div class="footer-text">
                <a href="#services" class="footer-txt">УСЛУГИ</a>
                <a href="#showcase" class="footer-txt">ОНЛАЙН ВИТРИНА</a>
                <a href="#bouquets" class="footer-txt">БУКЕТЫ</a>
                <a href="#compositions" class="footer-txt">КОМПОЗИЦИИ</a>
                <a href="#axes" class="footer-txt">АКСЕССУАРЫ</a>
                <a href="#subscription" class="footer-txt">ЦВЕТОЧНАЯ ПОДПИСКА</a>
                <a href="#about" class="footer-txt">О НАС</a>
            </div>

            <div class="footer-soc">
                <a class="ikonki-img" href="https://t.me/unicornandflowers"><img src="./media/images/tg.png" alt="tg"></a>
                <a class="ikonki-img" href="https://vk.com/unicornflowers"><img src="./media/images/vk.png" alt="vk"></a>
            </div>
        </div>
    </main>
    <script src="./static/florist.js"></script>
</body>
</html>